<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="image-responsive" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown" appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownManageRecipeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Recipe</button>
      <div class="dropdown-menu" aria-labelledby="dropdownManageRecipeButton">
        <a (click)="onAddToShoppingList()" class="dropdown-item" style="cursor: pointer;">To Shopping List</a>
        <a href="#" class="dropdown-item">Edit Recipe</a>
        <a href="#" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
    </ul>
  </div>
</div>
